<f:layout name="Default" />

<f:section name="Main">
  <div class="c-container c-container--3" data-ctype="container_three_columns" id="c{data.uid}">
    <f:if condition="{data.header}">
      <h2 class="c-container__headline">{data.header}</h2>
    </f:if>

    <div class="c-container__grid c-container__grid--3">
      <div class="c-col c-col--left">
        <f:if condition="{children_201}">
          <f:for each="{children_201}" as="child">
            {child.renderedContent -> f:format.raw()}
          </f:for>
        </f:if>
      </div>

      <div class="c-col c-col--middle">
        <f:if condition="{children_202}">
          <f:for each="{children_202}" as="child">
            {child.renderedContent -> f:format.raw()}
          </f:for>
        </f:if>
      </div>

      <div class="c-col c-col--right">
        <f:if condition="{children_203}">
          <f:for each="{children_203}" as="child">
            {child.renderedContent -> f:format.raw()}
          </f:for>
        </f:if>
      </div>
    </div>
  </div>
</f:section>
